<%- include('components/header') %>
<main>
  <section class="px-20 container py-10">
    <a
      href="/"
      class="text-sm text-gray-100 uppercase px-5 py-2.5 bg-gray-900 text-white rounded"
    >
      Back
    </a>

    <div class="my-5">
      <div class="grid grid-cols-3 items-center justify-center">
        <div class="col-span-1"></div>
        <div class="col-span-1">
          <form
            id="form"
            class="px-10 py-8 bg-white rounded border-t-4 border-gray-900"
          >
            <div class="mb-4">
              <label for="name" class="text-xs uppercase mb-1 block"
                >User Name</label
              >

              <select
                id="userName"
                name="userName"
                class="block w-full py-2.5 px-3 border focus:outline-none text-sm placeholder:text-xs rounded"
                onchange="getUserName()"
              >
                <% users.map((user,i)=> { %>

                <option value="<%= user.userName %>">
                  <%= user.userName %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="mb-4">
              <label for="name" class="text-xs uppercase mb-1 block"
                >Numbers</label
              >
              <input
                type="number"
                id="myNumber"
                class="block w-full py-2.5 px-3 border focus:outline-none text-sm placeholder:text-xs rounded"
                placeholder="****1013"
                required
                name="numbers"
              />
            </div>
            <div class="mb-2">
              <button
                type="submit"
                class="py-2.5 bg-gray-900 text-white rounded w-full text-sm hover:bg-gray-800"
              >
                Add Todo
              </button>
            </div>
          </form>
        </div>
        <div class="col-span-1"></div>
      </div>
    </div>
  </section>
</main>

<script>
  let userName = "";
  const form = document.getElementById("form");
  const numbers = document.querySelector("#myNumber");
  const userId = "<%= user._id %>";

  const getUserName = () => {
    userName = document.getElementById("userName").value;
  };

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    try {
      const res = await fetch("http://localhost:5000/api/v1/todo", {
        method: "POST",
        body: JSON.stringify({
          userInfo: userId,
          userName: userName,
          numbers: numbers.value * 1,
        }),
        headers: {
          "Content-type": "application/json",
        },
      });
      const result = await res.json();
      if (result) {
        location.assign("/");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('components/footer') %>
